@media only screen and (min-width: 499px) and (prefers-color-scheme: light)
{
	.comingsoon {
font-size:190%;
color:#7da19a;

}
.i
{   
	padding-left:20vw;
	float:left;
}
.under
{
   
padding-top:9%;
padding-left:1%;
}


.headingodd,.headingeven
{

font-weight: bold;



}


.divodd,.diveven
{


font-family: "Dosis";
width:50%;
margin-left:10%;


}


.img
{
	width:120vh;
	height:60vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}

.comingsoon {
 font-size:190%;

}
}
@media only screen and (max-width: 499px)  and (prefers-color-scheme: light)
{


.comingsoon {
font-size:100%;
color:#7da19a;

}
.i
{   
	padding-left:3vw;
	float:left;
	height: 40vh;
	width:50vw;
}
.under
{
   
padding-top:24%;

}
.headingodd,.headingeven
{

font-weight: bold;



}


.divodd,.diveven
{


font-family: "Dosis";
width:80%;
padding-right:1%;
text-align: justify;
margin-left:10%;


}
.comingsoon {
 font-size:1200%;
 color:lightblue;

}

.img
{	width:40vw;
	height:20vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}

.comingsoon {
 font-size:190%;

}

}



@media only screen and (min-width: 499px) and (prefers-color-scheme: dark)
{
	.comingsoon {
font-size:190%;
color:#7da19a;

}
.i
{   
	padding-left:20vw;
	float:left;
}
.under
{
   
padding-top:9%;
padding-left:1%;
}

.headingodd,.headingeven
{

font-weight: bold;
color:white;



}


.divodd,.diveven
{

color:lightblue;
font-family: "Dosis";
width:50%;
margin-left:10%;


}
.comingsoon {
 font-size:1200%;
 color:lightblue;

}

.img
{
	width:120vh;
	height:60vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}


}
@media only screen and (max-width: 499px)  and (prefers-color-scheme: dark)
{

.comingsoon {
font-size:100%;
color:#7da19a;

}
.i
{   
	padding-left:3vw;
	float:left;
	height: 40vh;
	width:50vw;
}
.under
{
   
padding-top:24%;

}


.headingodd,.headingeven
{

font-weight: bold;
color:white;



}


.divodd,.diveven
{

color:lightblue;
font-family: "Dosis";
width:80%;
padding-right:1%;
text-align: justify;
margin-left:10%;


}


.img
{	width:40vw;
	height:20vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}



}