@media only screen and (min-width: 499px) and (prefers-color-scheme: light)

{
	.headingodd,.headingeven
{

font-weight: bold;



}
.comingsoon
{
color:#7da19a;

}
.i
{   
	height: 20%;
	width:20%;
	
}
.under
{
   padding-left:1.5vw;

margin-top:0%;
}

.divodd,.diveven
{


font-family: "Dosis";
width:50%;

margin-left:10%;


}



.img
{
	width:120vh;
	height:60vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}


}
@media only screen and (max-width: 499px)  and (prefers-color-scheme: light)
{

.headingodd,.headingeven
{

font-weight: bold;



}


.divodd,.diveven
{


font-family: "Dosis";
width:80%;
padding-right:1%;
text-align: justify;
margin-left:10%;


}


.img
{	width:40vw;
	height:20vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}
.comingsoon
{

	font-size:110%;
color:#7da19a;

}
.i
{   
	height: 70%;
	width:70%;
	
	
}
.under
{
   padding-left:1.5vw;

margin-top:5%;
}



}



@media only screen and (min-width: 499px) and (prefers-color-scheme: dark)
{

.headingodd,.headingeven
{

font-weight: bold;
color:white;



}


.divodd,.diveven
{

color:lightblue;
font-family: "Dosis";
width:50%;
margin-left:10%;


}
.comingsoon{
font-size:190%;
color:#7da19a;

}
.i
{   
	height: 20%;
	width:20%;
	
}
.under
{
   padding-left:1.5vw;

margin-top:0%;
}


.img
{
	width:120vh;
	height:60vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}


}
@media only screen and (max-width: 499px)  and (prefers-color-scheme: dark)
{

.headingodd,.headingeven
{

font-weight: bold;
color:white;



}


.divodd,.diveven
{

color:lightblue;
font-family: "Dosis";
width:80%;
padding-right:1%;
text-align: justify;
margin-left:10%;


}
.comingsoon {
 font-size:1200%;
 color:lightblue;

}

.img
{	width:40vw;
	height:20vh;
}
.diveven
{
	float:right;

}
.divodd
{
	clear:both;
}

.comingsoon {
font-size:110%;
color:#7da19a;

}
.i
{   
	height: 70%;
	width:70%;
	
	
}
.under
{
   padding-left:1.5vw;

margin-top:5%;
}


}