.pagenodiv
{   clear:both;
	display:block;
	font-size:150%;
	margin-left:45%;
	margin-bottom:1%;
	margin-top:1%;
	
}
.pages
{
	color:black;
	padding:1%;
	
	
}
.pages:hover
{

	background-color: #e6edda;
	color:green;
}