@media and (prefers-color-scheme: light)
{
.pagenodiv
{   clear:both;
	display:block;
	font-size:150%;
	margin-left:45%;
	margin-bottom:1%;
	margin-top:5%;
	
}
.pages
{
	color:black;
	padding:1%;
	
	
}
.pages:hover
{

	background-color: #e6edda;
	color:green;
}
}
@media (prefers-color-scheme:dark)
{
.pagenodiv
{   clear:both;
	display:block;
	font-size:150%;
	margin-left:45%;
	margin-bottom:1%;
	margin-top:5%;
	
}
.pages
{
	color:lightgreen;
	padding:1%;

	
	
}
.pages:hover
{

	background-color: #0b2633;
	color:lightgreen;
}
}