@media only screen and (min-width: 800px)
{

.body
{
	
	padding-top:1%;
    min-height: 50vh;
	color:black;
	background-color:#f3f5f0;
	padding-bottom:1%;

   
   	
	
}

.boxed
{
	width:65%;
	height:10%;
	

}
.open
{

width:2%;
height:5%;
display:none;
margin-left:1%;
margin-top:2%;
margin-right:0%;
float:left;
opacity:0.5;
position:sticky;
top:7%;
left:0;
right:0;


}

.open:hover + p
{
	display:inline;
	background-color:white;
	opacity:0.6;
	border:1px solid grey;
}
.router
{
	margin-left:10%;
}

.expand
{   display:inline;
	display:none;
	position:absolute;
	margin-top:0%;
	padding:0.3%;
	font-size:100%;


	
}

}
@media only screen and (max-width: 499px)
{
.body
{
	
	padding-top:1%;
    min-height:70vh;
    
	color:black;
	background-color:#f3f5f0;
	padding-bottom:1%;
    width:100%;	
    overflow-x:hidden;

	margin-right:0%;
	
}

.boxed
{
	width:65%;
	height:10%;
	

}
.open
{
float:right;
width:5vw;
height:5vw;
display:none;
margin-right:5%;
margin-top:2%;


opacity:0.5;
position:sticky;
top:1.1%;
left:0;
right:0;


}

.router
{
	margin-left:2%;
}

.expand
{   display:none;
	left:6vw;
	display:none;
	position:absolute;
	margin-top:0%;
	padding:0.3%;
	font-size:100%;

	
}
}


.body
{
	
	padding-top:1%;
    min-height:70vh;
    
	color:black;
	background-color:#f3f5f0;
	padding-bottom:1%;
    width:100%;	
    overflow-x:hidden;

	margin-right:0%;
	
}

.boxed
{
	width:65%;
	height:10%;
	border:2px solid red;

}
.open
{
	
float:right;
width:4vw;
height:4vw;
display:none;
margin-right:5%;
margin-top:2%;


opacity:0.5;
position:sticky;
top:1%;
left:0;
right:0;


}

.router
{
	margin-left:2%;
}

.expand
{   display:none;
	left:6vw;
	display:none;
	position:absolute;
	margin-top:0%;
	padding:0.3%;
	font-size:100%;

	
}

