.videoodd,.videoeven
{
	width:70vh;
	height:50vh;
}
.txt
{
    width:100%;
   text-align:justify;
	padding-top:10%;
	padding-left:65%;
}
.txteven
{

	padding-top:6%;
	width:50%;
	padding-left:15%;
	padding-right:0%;
	margin-right:0%;
	text-align: justify;
}
.videoodd
{
	margin-left:3%;
	margin-top:3%;
	display:inline;
	float:left;
}
.videoodd:hover, .videoeven:hover
{
	box-shadow:4px 4px grey;
}
.videoeven
{
	
	margin-top:3%;
	display:inline-block;
	float:right;
	
	
}
.divodd,.diveven
{


font-family: "Dosis";
width:50%;



}
.diveven
{  
clear:left;

margin-right:10%;
width:92%;


}
.divodd
{
	clear:right;
	margin-bottom:1%;
	padding-bottom:1%;
	margin-left:10%;
}


