.logos
{
	width:40%;
	height:40%;
	;
}

.box
{

	margin-left:6%;
    width:20%;
    padding:1%;

   
    display:inline-block;

}

.box:hover .txt
{
	color:darkgreen;
	
	
}
.box:hover 
{
	
	color:blue;
   
}



.box:hover 
{
 
 box-shadow:2px 2px  2px 2px lightgreen;
 background-color: #e6edda;
 

}

.txt2
{
	text-align: center;
	font-size: 100%;
	font-family: "Dosis";
	margin-top:1%;
}
.txt
{
	font-weight: bold;
	font-size: 200%;
}
