@media only screen and (min-width: 500px){
.logos
{
	width:40%;
	height:40%;
	
}

.box
{

	margin-left:6%;
    width:20%;
    padding:1%;

   
    display:inline-block;

}

.box:hover .txt
{
	color:darkgreen;
	
	
}
.box:hover 
{
	
	color:blue;
   
}



.box:hover 
{
 
 box-shadow:2px 2px  2px 2px lightgreen;
 background-color: #e6edda;
 

}

.txt2
{
	text-align: center;
	font-size: 80%;
	font-family: "Dosis";
	margin-top:1%;
}
.txt
{
	font-weight: bold;
	font-size: 160%;
	font-family: "Dosis";
	margin-top:1%;
	margin-bottom:1%;
}


}
@media only screen and (max-width: 499px)
{

.logos
{
	width:40%;
	height:40%;
	
}

.box
{

	
    width:20%;
    padding:1%;
    margin-left:10vw;
    margin-right:0%;
    display:inline-block;

   
    

}

.box:hover .txt
{
	color:darkgreen;
	
	
}
.box:hover 
{
	
	color:blue;
   
}



.box:hover 
{
 
 box-shadow:2px 2px  2px 2px lightgreen;
 background-color: #e6edda;
 

}

.txt2
{
	text-align: center;
	font-size: 45%;
	font-family: "Dosis";
	margin-top:1%;
}
.txt
{
	font-weight: bold;
	margin-left: 0%;
	font-size: 80%;
		font-family: "Dosis";
}
}