@media and (prefers-color-scheme: light)
{
div
{
	margin-top:0px;


}
html
{
	height:auto;
}
body
{
	height:100%;

	
background-color:#f3f5f0;
	width:100%;
	overflow-x:hidden;
	
}
.auth
{ clear:both;
	background-color:#a8ede6;
	margin-bottom:1%;
	
}
@keyframes blury
{

0%{opacity: 0;}
   30%{  opacity: 0.5;filter:blur(3px);}
   60%{  filter:blur(5px);opacity: 1;}
   70%{ filter:blur(15px);opacity: 1;}
   100%{ filter:blur(0px);opacity: 0.5;}
  

}
.index
{
position: relative;

animation-name:blury;
animation-duration:2s;
animation-iteration-count: 1;



}
@keyframes mode {


	0%{opacity:0;}
	50%{opacity:0.5;}
	100%{opacity:1;}

}
.mode 
{
	border:1px solid red;
	animation-name:mode;
	animation-duration: 5s;
	animation-delay: 5s;
	animation-fill-mode: backwards;
}
}
@media and (prefers-color-scheme: dark)
{
html
{
	height:auto;
}
body
{
	height:100%;

	
	background-color:orange;
	width:100%;
	overflow-x:hidden;
	
}
.auth
{ 
	clear:both;
	background-color:red;
	margin-bottom:1%;
	
}

.index
{
	position:relative;




}




}





.dark_author
{

background-color: #c5ddeb;
color:black;
	
}